* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0 2%;
  background-color: rgb(44, 62, 80);
}

h1 {
  font-size: 50px;
  font-weight: bold;
  animation: happy_title 0.3s infinite alternate;
}

h2 {
  font-style: italic;
}

h1,
h2,
footer p {
  text-align: center;
  color: rgb(39, 174, 96);
}

h3 {
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: happy_subtitle 2s linear infinite;
}

.data-container {
  margin: auto;
  padding: 1% 2%;
  max-width: 1440px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  animation: happy_container 2s ease-in-out infinite alternate;
}

li {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
}

.data-ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.data-li {
  opacity: 0.5;
  min-width: 300px;
  margin: 2% 0.35%;
  cursor: pointer;
  display: inline-flex;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 0, 0.3);
}

.data-li:hover {
  opacity: 1;
  box-shadow: 0 0 20px rgb(255, 3, 3), 0 0 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.data-container-2 {
  width: 100%;
  height: 100vh;
  padding: 1% 2%;
  min-height: 200px;
  max-height: 220px;
  background-color: rgb(189, 195, 199);
}

.data {
  list-style-type: disc;
}

main a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer p {
  font-size: 30px;
}

#hl {
  text-decoration: none;
  color: rgb(39, 174, 96);
}

#hl:link {
  color: rgb(39, 174, 96);
}

#hl:visited {
  color: rgb(39, 174, 96);
}

#hl:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

@keyframes happy_title {
  0% {
    opacity: 0.5;
    color: rgb(39, 174, 96);
  }

  100% {
    opacity: 1;
    color: rgb(9, 255, 0);
  }
}

@keyframes happy_subtitle {
  to {
    background-position: 200% center;
  }
}

@keyframes happy_container {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }

  50% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
  }

  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
}

@media (max-width: 970px) {
  .data-li {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .data-li {
    width: 90%;
  }
}
